.container {
  display: grid;
  grid-gap: 8px;
  width: min-content;
  text-align: left;
  margin: auto;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin: 16px 0 19px;
}

.okButton {
  background-color: #4792f7;
  border: 1px solid #4792f7;
  color: white;
  border-radius: 2px;
  padding: 4px 0px;
  cursor: pointer;
  &:hover {
    background-color: #217cf3;
  }
}

.cancelButton {
  background-color: white;
  border: 1px solid #686869;
  color: #686869;
  border-radius: 2px;
  padding: 4px 0px;
  cursor: pointer;
  &:hover {
    background-color: #a7a7ad;
    color: white;
  }
}

.classSelector {
  width: 100%;
}
