.table {
  border: 1px solid gray;
  margin: 16px auto;
  border-collapse: collapse;
  min-width: 400px;
  border: unset;
}

.table thead tr {
  background-color: #06073c;
  color: white;
  text-align: left;
  border-top-left-radius: 6px;
}

.table th,
.table td {
  padding: 8px 16px;
}

.table tbody tr {
  border-bottom: 1px solid #dbdbdb;
  &:hover {
    background-color: #dfdbdb;
  }
}

.table tbody tr:nth-of-type(even) {
  background-color: #f5f0f0;
  &:hover {
    background-color: #dfdbdb;
  }
}

.table tbody tr:last-of-type {
  border-bottom: 1px solid;
}
