.container {
  display: grid;
  grid-gap: 8px;
  margin: auto;
  width: fit-content;
  text-align: center;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin: 16px 0 19px;
  width: max-content;
  justify-self: center;
}

.deleteButton {
  background-color: #fe5656;
  border: 1px solid #fe5656;
  color: white;
  border-radius: 2px;
  padding: 4px 12px;
  cursor: pointer;
  &:hover {
    background-color: #e01a1a;
  }
}

.cancelButton {
  background-color: white;
  border: 1px solid #686869;
  color: #686869;
  border-radius: 2px;
  padding: 4px 12px;
  cursor: pointer;
  &:hover {
    background-color: #a7a7ad;
    color: white;
  }
}

.spanText {
  font-weight: bold;
}
